@-moz-viewport {width: device-width; scale: 1;}
@-ms-viewport {width: device-width; scale: 1;}
@-o-viewport {width: device-width; scale: 1;}
@-webkit-viewport {width: device-width; scale: 1;}
@viewport {width: device-width; scale: 1;}

html{
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;	
	-webkit-text-size-adjust: 100%;	
	text-size-adjust: 100%;

}		
*, *::before, *::after{
	box-sizing: inherit;
}
body {
	margin: 0;
}
main {
	font-family: sans-serif;

}
.img-flex {
	width: 100%;
	display: block;
}
figcaption {
	margin-left: 2rem;
	margin-top: 1rem;
	margin-right: 2rem;
}
.gutter {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
header {
	background-color: gold;
}
.venuslogan{
	background-color: lightyellow;
	margin: 0;
	text-align: center;
	padding: 1rem;
}
.colourthis {
	background-color: lightyellow;
}
.colourthistoo {
	background-color: gold;
	padding-top: 1rem;
}
nav a{
	text-decoration: none;
	color: black;
	padding: 0.5rem 1rem 0.5rem 1rem;
	display: block;
}
nav a:hover{
	background-color: lightyellow;
	color: orange;
}
nav ul {
	list-style: none;
	padding-left: none;
}
h1 {
	text-align: center;
}
h2{
	padding-left: none;
	margin-top:  1rem;
}
dd{
	margin: 0 0 1em 0;
}
.characteristics{
	margin: 1rem;
}
.char-colour{
	background-color: lightyellow;
}
footer{
	background-color: gold;
}
footer p{
	margin-left: 2.5rem;
}
@media only screen and (min-width: 25em) {
	nav li{
		display: inline-block;
	}
	header nav {
		text-align: center;
	}
	.venuslogan{
		font-size: 1.602rem;
	}
}
@media only screen and (min-width: 38em) {
	header nav, h1 {
		text-align: left;
	}
	.venuslogan{
		font-size: 1.802rem;
	}
}
