@-moz-viewport {width: device-width; scale: 1;}
@-ms-viewport {width: device-width; scale: 1;}
@-o-viewport {width: device-width; scale: 1;}
@-webkit-viewport {width: device-width; scale: 1;}
@viewport {width: device-width; scale: 1;}

html{
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;	
	-webkit-text-size-adjust: 100%;	
	text-size-adjust: 100%;

}		
*, *::before, *::after{
	box-sizing: inherit;
}
body {
	margin: 0;
}
main {
	font-family: sans-serif;

}
.img-flex {
	width: 100%;
	display: block;
}
.gutter {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
header {
	background-color: gold;

}
nav a {
	text-decoration: none;
}
nav ol {
	list-style: none;
	padding-left: none;
}
h1 {
	text-align: center;
}
h2{
	padding-left: none;
}
@media only screen and (min-width: 38em) {
	h1 {
		text-align: left;
	}
}
@media only screen and (min-width: 25em) {
	nav li{
		display: inline-block;
	}
}